<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>ERROR AL INTRODUCIR LOS DATOS</title>
	
	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bd">

	<br/><br/>
	<div class="panel panel-info">
		<div class="panel-heading">
			<center>
				<h3> ERROR al introduccir los datos !! </h3>
				<h4> Revise los campos !!</h4>
			</center>
		</div>
		<br/><br/> 
		<center> <a class="btn btn-info" href="/"> Volver a INICIO </a> </center>
		<br/><br/>
		
	</div>
	
</body>
</html>